.my-nav{
    height: 100%;
    position: absolute; 
    /* width: 18vw; */
    /* box-shadow: 0px 5px 10px rgb(89, 89, 89); */
}

/* .profile{
padding-top: 5rem;} */
.profile__img{
    height:10vw;
    width: 10vw;
    background:white;
    border-radius:50%;
    margin: 0 auto;
    margin-top: 5rem;

    transition: display 200ms ease-in-out;
}
.profile__name{
    color: white;
    display: flex;
    justify-content: center;
    /* margin-top:2rem; */
    padding-top:1rem;
    font-size:1.5rem;

}
.nav__expand{
    width:2rem;
    height:2rem;
    padding:5px;
    padding-right: 0px;
    fill: #02356b;
    background: white;
    box-shadow: 0px 0px 10px rgb(89, 89, 89);
    border-radius: 50%;
    position: absolute;
    right: -1rem;
    top: 3rem;
    cursor: pointer;
    z-index: 99;
    transform: rotateZ(-180deg);
    transition: transform 200ms ease-in-out;

}
.nav__expand:hover{
    fill: white;
    background:#02356b;
    transition: all 200ms ease-in-out;
}
hr{
    background-color: white;
}
.nav__list{
    padding: 0rem;
    display: flex;
    flex-direction:column;
    
}
.nav__listitem{
    transition: all 200ms ease-in;
    padding: 0 3rem;
    margin-bottom: 0.7rem;
    border-right: 7px solid transparent;
    /* padding: 1rem 1.5rem ; */
    
}

.nav__listitem > a{
    text-decoration: none;
    color: white;
    font-weight:900 ;
    display: flex; 
    padding: 0.3rem 2rem;
    border-radius:10px;
    
    /* align-items: center;  */
      
}
.nav__listitem:hover{
    background: #02356b;
    transition: all 200ms ease-in;   
}

.nav__listitem > a > p{
    margin-top:1rem;
    padding-left: 1.7rem;
}

.nav__listitem-active ,.nav__listitem-active:hover{
    border-right: 7px solid #02356b;
    background: white;
  
}
 .nav__listitem-active svg, .nav__listitem-active:hover svg, .nav__listitem-active p, .nav__listitem-active:hover p {
	 color: #02356b;
	 fill: #02356b;
}

.svg{
    fill: white;
    width: 3rem;
}
/* .nav__listitem p, .profile__name{
    font-size: 1vw;
} */

.nav-closed{
    width: fit-content;
}
.nav-closed .nav__expand{
    transform: rotateZ(0deg);    
}
.nav-closed .nav__listitem{
    padding: 0;
}
.nav-closed .nav__listitem p{
    display: none;
}

.nav-closed .profile__img{
    display: none;
}

#my-navbar{
    background-color: white!important;
    width: fit-content;
}
.d__none{
    display: none;
}
.d__block{
    display: block;
}

