@media (max-height:600px){
    .profile__img{
       
        display: none;
    }
    .my-nav{
        height:100!important;
    }
    .nav__list{
        padding-top: 0%!important;
    }
}
@media (max-height:400px){
    .my-nav{
        height:25rem!important;
    }
}
@media (max-width:750px){
    .profile__img{
        height: 120px!important;
        width: 120px!important;
        margin-top: 1rem;
    }
    .profile__name{
    color: white;
    display: flex;
    justify-content: center;
    /* margin-top:2rem; */
    /* padding-top:1rem; */
    font-size:1rem;


}
    .nav__listitem{
        transition: all 200ms ease-in;
        padding: 0 3rem;
        margin-bottom: 0.7rem;
        border-right: 7px solid transparent;
        /* padding: 1rem 1.5rem ; */
        
    }
    .nav__listitem > a{
        text-decoration: none;
        color: white;
        font-weight:900 ;
        display: flex; 
        padding: 0.1rem 1rem;
        border-radius:10px;
          
    }
    .svg{
        fill: white;
        width: 2rem;
    }
}