
.nav__sidebar{
    height: 100vh;
}
.form__main{
    height: 300px;
    width: 300px;
    border-radius: 8px;
    margin:auto;
    padding: 10px;
}
.form__m{
    display:grid;
    margin: 0 auto;
}
.form__input{
    margin-top: 10px;
    border: none;
}
/* .form__input{
    
} */
.my__title{
    position: relative;
    top: -13%;
    border-radius:10px!important;
    padding-bottom: 10px!important; 
    padding-top: 10px!important; 

}
.title__1{
    display: block;
    font-size: 20px;
}
.title__img > img{
    height: 50px;
    width: 50px;
    margin-top: 10px;
    filter: invert();
}