.my-nav{
    height: 100vh;
    width: 18vw;
    position: absolute;
    box-shadow: 0px 0px 10px rgb(89, 89, 89);
}
.nav__expand{
    width:2rem;
    height:2rem;
    padding:5px;
    padding-right: 0px;
    fill: #02356b;
    background: white;
    box-shadow: 0px 0px 10px rgb(89, 89, 89);
    border-radius: 50%;
    position: absolute;
    right: -1rem;
    top: 3rem;
    cursor: pointer;
    z-index: 99;
    transform: rotateZ(-180deg);
    transition: transform 200ms ease-in-out;

}
.nav__expand:hover{
    fill: white;
    background:#02356b;
    transition: all 200ms ease-in-out;
}
